
.container{
    width: 960px;
    margin: 50px auto;
}
body{
    background:url(./img/bg.png);
    background-repeat: repeat;
}
a{
    text-decoration: none;
}
/* main css */
.header-section{
    border-top: 20px solid #c0c0c2;
}
.left-header{}
.left-header h1{
    font-family: 'Times New Roman', Times, serif;
    color: #2d2d2e;
    font-size: 67px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
}
.left-header h2{
    font-family: "Franklin Gothic Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #6c9ce4;
    font-size: 67px;
    margin-bottom: 0;
    line-height: 55px;
    text-transform: uppercase;
}

/* left content */
.about .right-gray-h1{
    font-family:"Franklin Gothic Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 58px;
  
    color:#c0c0c2 ;
    margin-top: 49px;
    margin-bottom: 23px;
    margin-top: 77px;
}
.about-text p{
    color: #2c2d2d;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}
.work h1{
    font-family:"Franklin Gothic Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 58px;
  
    color:#c0c0c2 ;
    margin-top: 49px;
    margin-bottom: 23px;
    margin-top: 57px;
}
.work-list{}
.work-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.work-list ul li::before{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #c0c0c2;
    margin-right: 10px;
}
.work-list ul li a{
    display: inline-block;
    font-size: 15px;
    line-height: 31px;
    color: black;
    font-weight: 500;
}
.work-list ul li a:hover, .work-list ul li .active{
    color: #2067d2;
}
 .contact{
  
 }
 .contact .contact-heading h1{
    font-family:"Franklin Gothic Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 58px;
  
    color:#c0c0c2 ;
    margin-top: 49px;
    margin-bottom: 23px;
    margin-top: 59px;
 }
 form{
     width: 82%;
 }
 input {
     display: block;
     width: 100%;
     margin-bottom: 10px;
     border-style: inset;
     border: 1px solid #c0c0c2;
 }
 .send{
    
    text-align: right;
    margin-top: -70px;
 }
 .send input{
     border-style: none;
     outline: none;
     background: url(./img/shape.png) no-repeat left bottom;
     height: 71px;
     width: 73px;
     display: inline-block;
     color: white;
     font-weight: 600;

 }
 .send input:hover{
     background: url(./img/hover_shape.png) no-repeat left bottom;
 }
 /* contact details */
 .contact-details{
    margin-top: 115px;
 }
 .c-details-list{
    
 }
 
 .c-details-list {
    font-size: 14px;
    margin-bottom: 11px;
 }
 .c-details-list  span{
    float: left;
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
    background: #c0c0c2 none repeat scroll 0 0;
    /* padding-top: 10px; */
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 50%;
 }
 .c-details-list p{
    margin: 0;
    padding: 0;
    margin-bottom: -6px;
 }
 .c-details-list a{
     display: inline-block;
 }
 .c-details-list-1 {
    float: left;
    width: 50%;
    overflow: hidden;
}
 .c-details-list-2 {
    float: left;
    width: 50%;
}
/* right content */
/* menu */
.header-right{}
.menu{}
.menu ul{
    text-align: right;
    list-style: none;
}
.menu ul li{
    display: inline-block;
    background: url(./img/shape.png) no-repeat left top;
    text-align: center;
}
.menu ul li a{
    display: inline-block;
    height: 71px;
    width: 74px;
    font-size: 13px;
    color: #fff;
    padding-top: 26px;
    padding-right: 6px;
    font-weight: 600;
   
}

.menu ul li:hover, .menu ul .active{
    background: url(./img/hover_shape.png) no-repeat left top;
}

/* right heading */
.right-heading{}
 .gray-h1{
    font-family:"Franklin Gothic Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif ;
    font-size: 58px;
  
    color:#c0c0c2 ;
    margin-top: 49px;
    margin-bottom: 23px;
}
.right-heading p{
    color: #2c2d2d;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}
/* port folio */

.portfolio{
    position: relative;
}
span.left-arrow {
    position: absolute;
    left: -3%;
    top: 50%;
    color: #c0c0c2;
}


span.right-arrow {
  
    position: absolute;
    top: 50%;
    color: #c0c0c2;
    left: 98%;
}
/* SKILL LIST */
.skills{
    height: 384px;
    margin-bottom: 90px;
}
.skill-heading h1{

}
.skill-list{
  
    border-left: 1px solid #c0c0c2;
    border-top: 1px solid #c0c0c2;
    transform: rotate(-90deg) translate(125px, 115px);
    margin-right: 194px;

}
.small-heading {
    font-family: Tahoma;
    text-transform: uppercase;
    font-size: 15px;
    color: #2c2d2d;
    line-height: 24px;
    margin-bottom: 29px;
    font-weight: 500;
}
.skill-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.skill-list ul li{
   
    padding: 20px 30px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}
.skill-list ul .php {
    width: 70%;
    margin-top: 6px;
    background: grey;
}
.skill-list ul .asp{
    width: 56%;
    background: darkcyan;
}
.skill-list ul .seo{
    width: 85%;
    background: cadetblue;
}
.skill-list ul .html{
    width: 95%;
    background: yellowgreen;
}
.skill-list ul .photoshop {
    width: 68%;
    background: tomato;
}
.skill-list ul .ruby{
    width: 75%;
    font-size: 12px;
    background: violet;
}
.skill-list ul .wordpress{
    width: 64%;
    background: turquoise;
}

.tech-img{
    margin-left: 21px;
    margin-top: 38px;
}
.tech-img ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tech-img ul li{
    display: inline-block;
}
.tech-img ul li:nth-child(3) img{
    margin-top: -24px;
}
.tech-img ul li:nth-child(2) img{
        margin-top:10px;
}
.tech-img ul li:nth-child(4) img{
        margin-top:-5px;
}

/* profile */
.profile-heading{}
.profile-heading h1{
    margin: 0;
    font-size: 66px;
}
.service-list{}
.service-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.service-list ul li{
    font-size: 16px;
    font-family:'Times New Roman' ;
    margin-bottom: 3px;
    color: #2d2d2f;
}

/* back to top */
.back-to-top{
    background:rgba(0, 0, 0, 0) url("img/shape.png") no-repeat scroll left top /48px 51px;
    width: 51px;
    height: 48px;
    bottom: 58px;
    text-align: center;
    line-height: 48px;
    margin-top: 28px;
    float: right;
    cursor: pointer;
    font-size: 13px;

}
.back-to-top a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
}

/* footer */
.footer{
    border-top: 1px solid #c0c0c2 ;
    margin-top: 20px;
}
.footer p{
    font-size: 14px;
    font-weight: 500;
    color: #2c2d2d;
    text-align: center;
    font-family: Tahoma ;
    line-height: 24px;
    margin-top: 10px;
}